*{
    font-family: sans-serif;
}
body{
    background-image: radial-gradient( circle farthest-corner at 17.6% 50.7%,  rgba(25,0,184,1) 0%, rgba(0,0,0,1) 90% );
}

.login{
    width: 400px;
    height: 200px;
    border: 1px solid red;
    background-image: linear-gradient( 92.7deg,  rgba(245,212,212,1) 8.5%, rgba(252,251,224,1) 90.2% );
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    margin-top: 20%;
    border-radius: 12px;
}

.login input{
    margin-top: 6%;
    margin-bottom: 2%;
    width: 300px;
    height: 38px;
    border-radius: 12px;
    border:1px solid aqua;
    font-size: 14px;
    font-weight: 500;
    color: black;
}

.login button{
    padding: 9px 94px;
    margin-top:10px ;
    border: none;
    border-radius: 9px;
    background-color: blue;
    color: aliceblue;
    font-size: 17px;
    font-weight: 600;
}

.login button:hover{
    background-color: rgb(7, 7, 117);
}

.login input:focus{
    border: 3px solid blue;
    outline-color: 1px solid blue;
}

.login input::placeholder{
    color: #020243;
}